@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  background-color: gray;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  
}
a {
  display: inline-block;
  padding: 20px;
  color: white;
  transition: all 500ms ease-in;
  letter-spacing: 5px;
}
a:hover {
  background-color: black;
  color: burlywood;
  font-family: 'Oswald', sans-serif;
}
header {
  background-image: url(/bj.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10%;
}
